/* Fonts */

@font-face {
	font-family:'PT Sans Narrow';
	font-style:normal;
	font-weight:400;
	src:local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff) format('woff');
}
@font-face {
	font-family:'PT Sans Narrow';
	font-style:normal;
	font-weight:700;
	src:local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYigwe3ZcNEyK1ut-Sjba9Qg.woff) format('woff');
}

/* Default */

html {
	min-width:1000px;
	height:100%;
}
body {
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:18px;
    font-family:'Arial', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 18px;
}
table {
	margin:0 0 18px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#990100;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#ffffff;
	font-size:12px;
    font-family:'Arial', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Arial', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#ffffff;
}
:-moz-placeholder {
	color:#ffffff;
}
::-moz-placeholder {
	color:#ffffff;
}
:-ms-input-placeholder {
	color:#ffffff;
}
.wrapper {
	position:relative;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
}

/* Header */

.header {
	position:relative;
	width:960px;
	height:174px;
	margin:0 auto;
}
.header .logo {
	position:absolute;
	left:0;
	top:34px;
	display:block;
	width:279px;
	font-family:'PT Sans Narrow', sans-serif;
	text-decoration:none;
}
.header .logo img {
	position:absolute;
	left:0;
	top:3px;
}
.header .logo h3 {
	position:absolute;
	left:103px;
	top:0;
	width:176px;
	color:#525252;
	font-size:25px;
	line-height:25px;
	font-weight:normal;
	white-space:nowrap;
	text-transform:uppercase;
	padding:0 0 5px;
	margin:0;
	border-bottom:2px solid #8c8c8c;
}
.header .logo:hover h3 {
	border-bottom:2px solid transparent;
}
.header .logo p {
	position:absolute;
	left:103px;
	top:36px;
	color:#990000;
	font-size:18px;
	line-height:15px;
	margin:0;
}
.header .call {
	position:absolute;
	left:388px;
	top:50px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0 0 0 29px;
	background:url('./images/header_call.png') repeat-y left;
}
.header .call h3 {
	color:#525252;
	font-size:25px;
	line-height:25px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:-2px 0 0;
}
.header .call h3 span {
	display:block;
	font-size:15px;
	line-height:15px;
}
.header .call p {
	font-size:18px;
	line-height:21px;
	text-transform:uppercase;
	margin:10px 0 2px;
}
.header .call p a {
	color:#990100;
	text-decoration:none;
	border-bottom:1px dashed #990100;
}
.header .call p a:hover {
	border-bottom:1px solid transparent;
}
.header .favicon {
	position:absolute;
	right:0;
	top:53px;
	width:240px;
	text-align:center;
	margin:0;
}
.header .favicon li {
	position:relative;
	display:inline-block;
	width:22px;
	height:18px;
	margin:0 14px 0 13px;
	opacity:0.5;
}
.header .favicon li img {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	max-width:22px;
	max-height:18px;
	margin:auto;
}
.header .search {
	overflow:hidden;
	position:absolute;
	right:0;
	top:85px;
	width:240px;
	height:33px;
	background:#cccccc;
}
.header .search p {
	float:left;
	margin:0;
}
.header .search p input {
	width:200px;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:7px 0 7px 13px;
}
.header .search button {
	position:absolute;
	right:0;
	top:0;
	width:31px;
	height:33px;
	cursor:pointer;
	background:url('./images/header_search_button.png') no-repeat 7px 8px;
}
.menu {
	background:url('./images/menu_bg.png') repeat;
	border-top:1px solid #8c8c8c;
}
.menu ul {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.menu ul li {
	float:left;
	font-size:25px;
	line-height:28px;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
}
.menu ul li a {
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:14px 0 19px;
}
.menu ul li a:hover {
	text-decoration:none;
	background:#990100;
}
.menu ul li.active a {
	background:#990100;
}
.submenu ul {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.submenu ul li {
	float:left;
	font-size:20px;
	line-height:24px;
	font-family:'PT Sans Narrow', sans-serif;
}
.submenu ul li:first-child {
	margin-left:0 !important;
}
.submenu ul li a {
	display:block;
	color:#525252;
	padding:10px 0;
}
.submenu ul li a:hover, .submenu ul li.active a {
	color:#ffffff;
	text-decoration:none;
	background:#990100;
}

/* Index */

.intro {
	position:relative;
	overflow:hidden;
	margin:15px 0 42px;
	background:url('./images/intro_bg.png') repeat;
}
.intro img {
	position:absolute;
	left:50%;
	top:0;
}
.intro > div {
	position:relative;
	width:960px;
	margin:0 auto;
	height:350px;
}
.intro > div > div {
	position:absolute;
	left:0;
	top:90px;
	width:410px;
	padding:0 0 20px;
	background:url('./images/intro_div_div.png') repeat-x bottom;
}
.intro > div > div p {
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	margin:0;
}
.intro > div > div h3 {
	color:#525252;
	font-size:30px;
	line-height:28px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	margin:23px 0 0;
}
.service {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto 43px;
}
.service > div {
	position:relative;
	float:left;
	width:180px;
	padding:0 0 59px;
	margin:0 0 0 15px;
	background:url('./images/service_div.png') repeat;
	border-bottom:1px solid #bababa;
}
.service > div:first-child {
	margin-left:0;
}
.service > div > div {
	position:relative;
	width:180px;
	height:180px;
	margin:0 0 24px;
}
.service > div > div > div {
	position:absolute;
	left:0;
	bottom:0;
	width:140px;
	height:38px;
	padding:7px 20px 5px;
	background:url('./images/service_div_div_div.png') repeat;
}
.service > div > div > div p {
	overflow:hidden;
	max-height:38px;
	color:#ffffff;
	font-size:20px;
	line-height:19px;
	font-family:'PT Sans Narrow', sans-serif;
	text-align:center;
	text-transform:uppercase;
	vertical-align:middle;
	padding:0;
	margin:0;
}
.service > div ul {
	margin:0 15px 24px 19px;
}
.service > div ul li {
	color:#cccccc;
	font-size:15px;
	line-height:15px;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0 0 13px;
	padding:0 0 0 20px;
	background:url('./images/service_h5_span.png') no-repeat left 6px;
}
.service > div ul li a {
	color:#cccccc;
	text-decoration:none;
}
.service > div ul li a:hover {
	text-decoration:underline;
}
.service > div h5 {
	position:absolute;
	left:0;
	bottom:11px;
	width:180px;
	font-size:14px;
	line-height:17px;
	font-family:'PT Sans Narrow', sans-serif;
	text-align:center;
	padding:0;
	margin:0;
}
.service > div h5 span {
	display:inline-block;
	padding:0 16px 0 0;
	background:url('./images/service_h5_span.png') no-repeat right 7px;
}
.service > div h5 span a {
	color:#cccccc;
	text-decoration:none;
}
.service > div h5 span a:hover {
	text-decoration:underline;
}

/* Content */

.content {
	clear:both;
	overflow:hidden;
	width:960px;
	padding:29px 0 32px;
	margin:0 auto;
}
.breadcrumbs {
	clear:both;
	overflow:hidden;
	margin:0 0 32px;
}
.breadcrumbs li {
	float:left;
	color:#868686 !important;	
	font-size:15px;
	line-height:18px !important;
	font-family:'PT Sans Narrow', sans-serif;
	text-indent:0 !important;
	padding:0 0 0 15px !important;
	margin:0 0 0 5px !important;
	background:url('./images/breadcrumbs_li.png') no-repeat left 7px !important;
}
.breadcrumbs li:first-child {
	padding-left:0 !important;
	margin-left:0 !important;
	background:none !important;
}
.breadcrumbs li a {
	color:#cc807f;	
}
.content h1 {
	color:#990100;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 28px;
}
.lb {
	float:left;
	width:230px;
	margin:3px 0 0;
}
.lb > .nav {
	margin:0 0 33px;
}
.lb > .nav > li {
	font-size:15px;
	line-height:15px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:2px 0 4px 47px;
	margin:0 0 12px;
	background:url('./images/lb_nav_li.png') no-repeat 4px top;
}
.lb > .nav > li > a {
	color:#525252;
	text-decoration:none;
}
.lb > .nav > li.current > a {
	font-weight:bold;
}
.lb > .nav > li > a:hover {
	text-decoration:underline;
}
.lb > .nav > li.sub > a {
	text-decoration:none;
	border-bottom:1px dashed #525252;
}
.lb > .nav > li.active a {
	border-bottom:1px dashed #525252;
}
.lb > .nav > li > ul {
	display:none;
	margin:0;
}
.lb > .nav > li.active > ul {
	display:block;
}
.lb > .nav > li > ul > li {
	padding:0 0 0 21px;
	margin:18px 0 0;
	background:url('./images/lb_nav_li_li.png') no-repeat left 6px;
}
.lb > .nav > li > ul > li > a {
	color:#525252;
	text-decoration:none;
	border-bottom:1px solid transparent !important;
}
.lb > .nav > li > ul > li > a:hover {
	text-decoration:underline;
}
.lb p.basket {
	font-size:15px;
	line-height:18px;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0 0 33px;
	background:url('./images/basket_bg.png') repeat;
}
.lb p.basket a {
	display:block;
	color:#990100;
	text-decoration:none;
	padding:17px 14px 25px;
}
.lb p.basket a span {
	display:block;
	margin:0 0 7px;
	text-decoration:underline;
}
.lb p.basket a:hover span {
	text-decoration:none;
}
.lb .useful {
	font-family:'PT Sans Narrow', sans-serif;
	padding:17px 26px 24px 14px;
	margin:0 0 33px;
	background:url('./images/basket_bg.png') repeat;
}
.lb .useful h3 {
	color:#990100;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0 0 20px;
}
.lb .useful > div {
	margin:0 0 3px;
}
.lb .useful > div p {
	color:#525252;
	font-size:15px;
	line-height:22px;
	margin:0 0 6px;
}
.lb .useful > div p a {
	color:#990100;
}
.lb .useful > div.active p a {
	color:#525252;
}
.lb .useful > div > div {
	display:none;
	margin:3px 0 12px;
}
.lb .useful > div.active > div {
	display:block;
}
.rb {
	float:right;
	width:700px;
	margin:0 0 27px;
}
.rb p {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0 0 22px;
}
.rb h6 {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0;
}
.rb h6.request {
	margin:0 0 22px;
}
.rb h6.request a {
	color:#525252;
	text-decoration:none;
	border-bottom:1px dashed #525252;
}
.rb h6.request a:hover {
	border-bottom:1px dashed transparent;
}
.rb > p > span {
	color:#990100;
	font-size:18px;
	text-transform:uppercase;
}
.rb > p > strong {
	font-size:18px;
}
.rb > h2 {
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 22px;
}
.rb > ul {
	margin:0 0 22px;
}
.rb > ul > li {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	text-indent:25px;
	margin:0;
	background:url('./images/ul_li.png') no-repeat 11px 10px;
}
.rb > ul.list > li {
	text-indent:0;
	background:none;
}
.rb .training h6 {
	margin:0 0 22px;
}
.rb .training > div {
	margin:0 0 22px;
}
.rb .training > div p {
	margin:0;
}
.shop {
	width:100%;
	font-family:'PT Sans Narrow', sans-serif;
	margin:-9px 0 33px;
}
.shop th {
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	padding:9px 0 9px 12px;
	background:url('./images/shop_th.png') repeat-x bottom;
}
.shop .title {
	width:66%;
}
.shop .price {
	width:12%;
}
.shop .quantity {
	width:22%;
}
.shop td {
	color:#525252;
	font-size:15px;
	line-height:18px;
	vertical-align:top;
	padding:11px 0 11px 12px;
	background:#ffffff;
}
.shop tr:nth-child( 2n  ) td {
	background:#f5e5e5;
}
.shop td span {
	position:relative;
	float:left;
	display:block;
	width:80px;
}
.shop td span em {
	position:absolute;
	left:62px;
	display:block;
	width:11px;
	height:7px;
	cursor:pointer;
}
.shop td span em.plus {
	top:0;
	background:url('./images/plus_bg.png') no-repeat left top;
}
.shop td span em.minus {
	top:10px;
	background:url('./images/minus_bg.png') no-repeat left top;
}
.shop td input {
	width:49px;
	color:#525252;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	text-align:center;
	padding:1px 4px;
	margin:-3px 0 -2px;
	border:1px solid #d6d2d2;
}
.form {
	clear:both;
	overflow:hidden;
	width:550px;
	margin:-3px 0 23px;
}
.form p {
	clear:both;
	overflow:hidden;
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-family:'PT Sans Narrow';
	text-align:right;
	margin:0 0 15px;
}
.form p span {
	float:left;
	display:block;
	width:136px;
	text-align:left;
	text-transform:uppercase;
	padding:2px 0 1px;
}
.form p span em {
	color:#990100;
	font-style:normal;
}
.form p input, .form p textarea {
	position:relative;
	width:386px;
	color:#525252;
	font-size:18px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0 7px;
	background:#ffffff;
	border:1px solid #d8d8d8;
	border-top:1px solid #e0e0e0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:inset 0 1px 1px #ebebeb;
	behavior:url('./pie.htc');
}
.form p textarea {
	min-height:93px;
	margin:0 0 -5px;
	resize:vertical;
}
.form > div {
	clear:both;
	overflow:hidden;
	margin:30px 0 10px;
}
.form button {
	float:right;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:9px 63px 8px 62px;
	margin:0;
	background:#525252;
	border:7px solid #8e8e8e;
}
.form button:hover {
	border:7px solid #9c9c9c;
}
.form button:active {
	border:7px solid #818181;
}
div.basket {
	margin:-9px 0 23px;
}
div.basket table {
	width:100%;
	font-family:'PT Sans Narrow', sans-serif;
}
div.basket table th {
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	padding:9px 0 9px 12px;
	background:url('./images/shop_th.png') repeat-x bottom;
}
div.basket table .title {
	width:76%;
}
div.basket table .price {
	width:10%;
}
div.basket table .quantity {
	width:14%;
}
div.basket table td {
	color:#525252;
	font-size:15px;
	line-height:18px;
	vertical-align:top;
	padding:11px 0 11px 12px;
	background:#ffffff;
}
div.basket table tr:nth-child( 2n ) td {
	background:#f5e5e5;
}
div.basket table td input {
	width:55px;
	color:#525252;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	text-align:center;
	padding:1px 4px;
	margin:-3px 0 -2px;
	border:1px solid #d6d2d2;
}
div.basket table td button.remove {
	float:right;
	width:12px;
	height:12px;
	cursor:pointer;
	margin:2px 7px 0 0;
	background:url('./images/basket_remove.png') no-repeat left top;
}
div.basket table td button.remove:hover {
	background-position:0 -12px;
}
div.basket h2 {
	color:#990100;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-align:right;
	padding:0;
	margin:0 0 18px;
}
div.basket > div {
	clear:both;
	overflow:hidden;
	margin:0 0 30px;
}
div.basket > div > div {
	float:right;
}
div.basket > div button {
	float:right;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:9px 38px 8px 38px;
	margin:0;
	background:#525252;
	border:7px solid #8e8e8e;
}
div.basket > div button:hover {
	border:7px solid #9c9c9c;
}
div.basket > div button:active {
	border:7px solid #818181;
}
div.basket > div p {
	float:left;
	font-size:20px;
	line-height:23px;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	margin:16px 52px 15px 0; 
}
.news {
	padding:2px 0 0;
	margin:0 0 -7px;
}
.news h2 {
	color:#990100;
	font-size:18px;
	line-height:20px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 5px;
}
.news > div {
	margin:0 0 34px;
}
.news h2 a {
	color:#990100;
	text-decoration:none;
}
.news h2 a:hover {
	text-decoration:underline;
}
.news h6 {
	color:#868686;
	font-size:15px;
	line-height:22px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0;
	margin:0 0 14px;
}
.news p {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0 0 22px;
}
.news ul {
	margin:0 0 22px;
}
.news ul li {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	text-indent:25px;
	margin:0;
	background:url('./images/ul_li.png') no-repeat 11px 10px;
}
.news ol {
	margin:0 0 22px 18px;
}
.news ol li {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0;
}
.pagination {
	text-align:center;
	margin:47px 0 27px;
}
.pagination li {
	display:inline-block;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	vertical-align:top;
	text-transform:uppercase;
}
.pagination li a {
	display:block;
	color:#525252;
	text-decoration:none;
	margin:2px 6px 2px 5px;
}
.pagination li a:hover {
	text-decoration:underline;
}
.pagination li span {
	display:block;
	color:#ffffff;
	padding:2px 8px 2px 7px;
	background:#cccccc;
}
.pagination li.first a, .pagination li.last a {
	text-decoration:underline;
	margin:2px 8зx 2px 7px;
}
.pagination li.first a:hover, .pagination li.last a:hover {
	text-decoration:none;
}

/* Footer */

.clear {
	clear:both;
	overflow:hidden;
	height:176px;
}
.footer {
	position:relative;
	width:960px;
	height:176px;
	margin:-176px auto 0;
	background:url('./images/footer_bg.png') repeat-x top;
}
.footer button.enter {
	position:absolute;
	left:0;
	top:39px;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:9px 50px 8px;
	background:#525252;
	border:7px solid #8e8e8e;
}
.footer button.enter:hover {
	border:7px solid #9c9c9c;
}
.footer button.enter:active {
	border:7px solid #818181;
}
.footer p {
	color:#525252;
	font-size:15px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	margin:0;
}
.footer p a {
	color:#525252;
}
.footer .contacts {
	position:absolute;
	left:0;
	top:107px;
	width:50%;
}
.footer .author {
	position:absolute;
	right:0;
	top:107px;
}
.footer .author a {
	text-transform:uppercase;
}
.consultant {
	position:fixed;
	right:50%;
	bottom:0;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:8px 19px 7px 22px;
	margin-right:-480px;
	background:#990100;
	border:7px solid #bd5a59;
}
.consultant span {
	display:block;
	padding:0 0 0 24px;
	background:url('./images/consultant_span.png') no-repeat left 4px;
}
.consultant:hover {
	border:7px solid #ce6362;
}
.consultant:active {
	border:7px solid #ac5251;
}

/* Popup */

.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:url('./images/fade_bg.png') repeat;
}
div.enter {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:1010;
	padding:7px;
	margin:-142px 0 0 -171px;
	background:url('./images/popup_bg.png') repeat;
}
div.enter > div {
	position:relative;
	width:208px;
	padding:30px 60px 30px 60px;
	background:#ffffff;
}
div.enter p {
	font-size:18px;
	line-height:22px;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	margin:0;
}
div.enter p a {
	display:block;
	color:#525252;
	text-decoration:none;
}
div.enter p a:hover {
	text-decoration:underline;
}
div.enter p a span {
	display:block;
	padding:24px 24px 23px 0;
	background:url('./images/enter_p_span.png') no-repeat right 28px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #cccccc;
}
div.enter p:first-child a span {
	border-top-width:0;
}
div.enter p:last-child a span {
	border-bottom-width:0;
}
div.enter .close, div.popup .close, div.request .close {
	position:absolute;
	right:21px;
	top:21px;
	display:block;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url('./images/popup_close.png') no-repeat left top;
}
div.popup {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:1010;
	padding:1px;
	margin:-182px 0 0 -168px;
	background:url('./images/popup_bg.png') repeat;
}
div.popup > div {
	width:202px;
	padding:59px 66px 47px;
	background:url('./images/popup_div.png') repeat;
}
div.popup > div h3 {
	color:#990100;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 25px;
}
div.popup > div p {
	margin:0 0 19px;
}
div.popup > div p input {
	width:186px;
	color:#525252;
	font-size:18px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0 7px;
	background:#ffffff;
	border:1px solid #f3f3f3;
	border-top:1px solid #ebebeb;
}
div.popup h6 {
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0;
	margin:-5px 0 19px;
}
div.popup h6 a {
	color:#424242;
}
div.popup > div p input::-webkit-input-placeholder {
	color:#cccccc;
}
div.popup > div p input:-moz-placeholder {
	color:#cccccc;
}
div.popup > div p input::-moz-placeholder {
	color:#cccccc;
}
div.popup > div p input:-ms-input-placeholder {
	color:#cccccc;
}
div.popup button {
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:7px;
	margin:12px 0 19px;
	background:url('./images/popup_button.png') repeat;
}
div.popup button span {
	display:block;
	padding:8px 68px 7px;
	background:#990100;
}
div.popup button:hover span {
	background:#a80100;
}
div.popup button:active span {
	background:#8b0100;
}
div.request {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:1010;
	padding:7px;
	margin:-268px 0 0 -317px;
	background:url('./images/popup_bg.png') repeat;
}
div.request > div {
	position:relative;
	width:500px;
	padding:53px 60px 45px 60px;
	background:#ffffff;
}
div.request h3 {
	color:#990100;
	font-size:20px;
	line-height:22px;
	font-weight:normal;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 26px;
}
div.request p {
	clear:both;
	overflow:hidden;
	color:#525252;
	font-size:18px;
	line-height:22px;
	font-family:'PT Sans Narrow';
	text-align:right;
	margin:0 0 15px;
}
div.request p span {
	float:left;
	display:block;
	width:136px;
	text-align:left;
	text-transform:uppercase;
	padding:2px 0 1px;
}
div.request p span em {
	color:#990100;
	font-style:normal;
}
div.request p input, div.request p textarea {
	position:relative;
	width:336px;
	color:#525252;
	font-size:18px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0 7px;
	background:#ffffff;
	border:1px solid #d8d8d8;
	border-top:1px solid #e0e0e0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	box-shadow:inset 0 1px 1px #ebebeb;
	behavior:url('./pie.htc');
}
div.request p textarea {
	min-height:93px;
	margin:0 0 -5px;
	resize:vertical;
}
div.request > div > div {
	clear:both;
	overflow:hidden;
	margin:30px 0 15px;
}
div.request button {
	float:right;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	font-family:'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	padding:9px 63px 8px 62px;
	margin:0;
	background:#525252;
	border:7px solid #8e8e8e;
}
div.request button:hover {
	border:7px solid #9c9c9c;
}
div.request button:active {
	border:7px solid #818181;
}